@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi", sans-serif;
  src: url("../public/fonts/PrimaryFont/OTF/Satoshi-Regular.otf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Satoshi";
}
